{% extends "base.html" %}

{% block title %} Tracking Transaction {% endblock %}

{% block heading %}
<center> Bank Page Center </center>
    Managament Transaction
{% endblock %}

{% block content %}
<p>
   Total Transaction: 
   {% if message %}
    {{ message }}
     <br>
    {% endif %}
</p>

<table>
    <tr>
        <th>Customer ID</th>
        <th>Time</th>
        <th>Amt</th>
        <th>Category</th>
        <th>Merchant</th>
        <th>Detail Information Customer</th>
        <th></th>
    </tr>

    {% for tran in transaction %}
    <tr>
        <td>{{ tran.cc_num  }}</td>
        <td>{{ tran.trans_time }}</td>
        <td>{{ tran.amt }}</td>
        <td>{{ tran.category }}</td>
        <td>{{ tran.merchant }}</td>
        
        <td>
            <a href="{{url_for('customer_details', cc_num = tran.cc_num )}}">Click</a>
            
        </td>
    {% endfor %}
    

    </tr>
</table>


{% endblock %}
